<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./styles.css" />
    <title>Our services</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="index.html">Express</a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="index.html">Home</a>
          <a class="nav-item nav-link" href="contact_us.html">Contact us</a>
          <a class="nav-item nav-link" href="our_services.html">Our services</a>
        </div>
      </div>
    </nav>

    <h1 class="text-center">Our services</h1>
    <div class="services">
      <div class="service">
        <p>
          <span>Table service</span>
          <span>
            In this type of service, the guests enter the dining area and take
            seats. The waiter offers them water and menu card. The guests then
            place their order to the waiter. The table is covered in this
            service. It is grouped into the following types.
          </span>
        </p>
      </div>
      <div class="service">
        <p>
          <span>English or Family Service</span
          ><span
            >Here, the host contributes actively in the service. The waiter
            brings food on platters, shows to the host for approval, and then
            places the platters on the tables. The host either makes food
            portions and serves the guests or allows the waiter to serve. To
            replenish the guests’ plates, the waiter takes the platters around
            to serve or to let the guests help themselves. This is a common
            family service in specialty restaurants where customers spend more
            time on premise.</span
          >
        </p>
      </div>
      <div class="service">
        <p>
          <span>Silver Service</span
          ><span
            >In this service, the food is presented on silver platters and
            casseroles. The table is set with sterling silverware. The food is
            portioned into silver platters in the kitchen itself. The platters
            are placed on the sideboard with burners or hot plates. At the time
            of serving, the waiter picks the platter from hot plate and presents
            it to the host for approval and serves each guest using a service
            spoon and fork.</span
          >
        </p>
      </div>
    </div>
    <footer class="footer mt-auto py-3 bg-light fixed-bottom">
      <div class="container text-center">
        <span class="text-muted">© 2021 Express, all rights reserved</span>
      </div>
    </footer>
  </body>
</html>
